html {
	font-size: 100px;
}

/*@media (min-device-width: 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2) {
	html {
		font-size: 117.1875px;
	}
}*/

body, h1, h2, h3, p, ul, button {
	margin: 0;
	padding: 0;
	font: 12px / 1 Microsoft Yahei, sans-serif;
}

li {
	display: block;
}

.page-1 .bg-star, .page-1 .top, .page-1 .item, .page-2 .header, .page-2 .item-img, .page-2 .item-hd, .page-2 .item-txt, .page-3 .bg-star, .page-3 .header-hd, .page-3 .bg-shadow, .page-3 .middle, .page-3 .content-1 .bg-building, .page-3 .content-2 .bg-star-b, .page-3 .content-3 .bg-rocket, .page-3 .content-1 .bg-connect, .page-3 .bottom .left, .page-3 .bottom .right, .page-4 .header, .page-4 .comment .btn, .page-5 .bg-stripe, .page-5 .bg-penguin, .page-5 .bg-jewel .item, .page-5 .bg-stripe .header, .page-5 .wellfare-item-1 .img-1, .page-5 .wellfare-item-1 .img-2, .page-5 .wellfare-item-1 .img-2, .page-5 .wellfare-item-2 .img, .page-5 .wellfare-item-3 .img, .page-5 .wellfare-item-4 .img, .page-6 .bg-star, .page-6 .top, .page-6 .middle-cloud, .page-6 .middle-penguin, .page-7 .bg-star, .page-7 .top, .page-7 .middle, .page-7 .bottom, .page-7 .penguin {
	display: block;
	background: url(../img/sprite.png);
	background-size: 1150px 1025px;
	background-repeat: no-repeat;
	background-clip: content-box;
	background-origin: content-box;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}

#container .page {
	position: relative;
	overflow: hidden;
	background-color: #ed5b44;
	box-sizing: border-box;
}

/*第一页*/

#container .page-1, #container .page-6, #container .page-7 {
	background-image: radial-gradient(ellipse closest-side at 50% 25%, hsla(0,0%,100%,.3) 0%, transparent 100%);
}

.page-1 .item-2, .page-1 .bg-star {
	position: absolute;
	left: 50%;transform: translateX(-50%);
}

.page-1 .bg-star {
	width: 295.5px;height: 312.5px;
	top: .275rem;
}

.page-1 .top {
	/*提高层级*/
	position: relative;
	width: 283.5px;height: 217px;
	margin: 0 auto;
	padding-top: 1rem;
	background-position: 0 -342px;
	
}

.page-1 .top.bounceIn, .page-1.page-active .top{
	animation: bounceIn 1s .5s;
}

.page-1 .bottom, .page-6 .bottom, .page-7 .bottom {
	position: absolute;
	width: 100%;height: .905rem;
	bottom: 0;
	background: url(../img/cloud.png) no-repeat 0 0 / 100%;
}

.page-1 .item-1 {
	position: absolute;
	width: 75px;height: 88px;
	left: .295rem;bottom: 1.525rem;
	background-position: -316px -159px;
}

.page-1 .item-2 {
	width: 132.5px;height: 141.5px;
	bottom: .625rem;
	background-position: -316px 0;
}

.page-1 .item-3 {
	position: absolute;
	width: 102px;height: 98px;
	right: .08rem;bottom: 1.495rem;
	background-position: -401px -159px;
}

/*第二页*/

#container .page-2 {
	background-color: #ff8c3e;
}

.page-2 .header {
	width: 281px;height: 81.5px;
	padding-top: .865rem;
	margin: 0 auto;
	background-position: 0 -580px;
}

.page-2 .bottom {
	opacity: 0;
}

.page-2.page-active .bottom {
	opacity: 1;
	transition: all 1.5s linear;
}

/* 背景光影 */
.page-2 .item {
	background-image: radial-gradient(circle closest-side, hsla(0,0%,100%,.3), transparent);
}

.page-2 .item-1 {
	margin-top: -22.5px;
}

.page-2 .item-img, .page-2 .item-hd, .page-2 .item-txt {
	margin: 0 auto;
}

.page-2 .item-hd {
	margin-top: .07rem;
}

.page-2 .item-txt {
	margin-top: .01rem;
	margin-bottom: .07rem;
}

.page-2 .item-img-1 {
	width: 72px;height: 68px;
	background-position: -317.5px -272.5px;
}

.page-2 .item-img-2 {
	width: 102.5px;height: 86.5px;
	background-position: -407.5px -272.5px;
}

.page-2 .item-img-3 {
	width: 75.5px;height: 80.5px;
	background-position: -317.5px -372px;
}

.page-2 .item-hd-1 {
	width: 111.5px;height: 23.5px;
	background-position: -412.5px -384.5px;
}

.page-2 .item-hd-2 {
	width: 132px;height: 24.5px;
	background-position: -414.5px -416.5px;
}

.page-2 .item-hd-3 {
	width: 134px;height: 24.5px;
	background-position: -414.5px -451px;
}

.page-2 .item-txt-1 {
	width: 129.5px;height: 12.5px;
	background-position: -316.5px -487px;
}

.page-2 .item-txt-2 {
	width: 144px;height: 12.5px;
	background-position: -316.5px -517px;
}

.page-2 .item-txt-3 {
	width: 143.5px;height: 13px;
	background-position: -317.5px -546px;
}

/*第三页*/

#container .page-3 {
	background-color: #ffdb5d;
	padding-top: .755rem;
}

.page-3 .bg-star {
	position: absolute;
	width: 15px;height: 14.5px;
	background-position: 0 -675.5px;
	overflow: visible;
}

/*斜线*/
.page-3 .bg-star::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;left: 100%;
	width: 400px;height: 2px;
	background: hsla(0,0%,100%,.4);
	transform-origin: 0 100%;
	transform: rotate(-45deg);
}

.page-3 .bg-star-1 {
	left: .175rem;top: 1.1rem;
}

.page-3 .bg-star-2 {
	right: .44rem;top: .73rem;
}

.page-3 .header-img {
	position: relative;
	width: 129px;height: 129px;
	margin: 0 auto;
	border-radius: 50%;
	background: #ffea9f;
	border: 3px solid #8f7109;
}

.page-3 .bg-shadow {
	position: absolute;
	top: -2px;left: -19px;
	width: 286px;height: 253px;
	background-position: -514px 0;
}

.page-3 .header-mask {
	position: absolute;
	top: -3px;left: -3px;
	width: inherit;height: inherit;
	border: inherit;
	background: inherit;
	border-radius: inherit;
}

.page-3 .header-img img {
	position: absolute;
	width: inherit;height: inherit;
	border-radius: inherit;
	text-align: center;
}

.page-3 .header-hd {
	position: absolute;
	bottom: 9px;left: -19.5px;
	width: 167px;height: 40px;
	background-position: -312px -571px;
	text-indent: 200%;
}

.page-3 .header-txt {
	position: relative;
	z-index: 1;
	margin-top: .04rem;
	text-align: center;
	font-size: 15.159px;
}

.page-3 .middle {
	position: relative;
	z-index: 1;
	width: 232px;height: 42px;
	margin: .14rem auto 0;
	padding: 4px 0 0 10.5px;
	border-radius: 10px;
	background-color: #d4b137;
	background-position: -524.5px -269.5px;
	background-clip: border-box;
	box-sizing: border-box;
}

.page-3 .container {
	width: 235px;
	margin: 0 auto;
}

.page-3 .content {
	position: relative;
	font-size: 13px;
}

/*红色字体*/
.page-3 .content .content-inner {
	font-size: 17.5px;
	color: #fd583f;
}

.page-3 .content-1 {
	margin: .29rem 0 35px;
}

.page-3 .content-1 .bg-building {
	position: absolute;
	top: -20px;right: -18px;
	width: 20px;height: 65.5px;
	background-position: -479px -493.5px;
}

.page-3 .content-1 .bg-connect {
	position: absolute;
	top: 22px;right: 17.5px;
	width: 183.5px;height: 115.5px;
	background-position: -577px -487px;
}

.page-3 .content-2 {
	margin-right: 28.5px;
	text-align: right;
}

.page-3 .content-2 .bg-star-b {
	position: absolute;
	top: -20px;left: -7.5px;
	width: 42.5px;height: 40px;
	background-position: -494.5px -571px;
}

.page-3 .content-3 {
	margin: 28px 0 .36rem 13px;
}

.page-3 .content-3 .bg-rocket {
	position: absolute;
	top: -7px;right: -12.5px;
	width: 23px;height: 50.5px;
	background-position: -523px -494px;
}

.page-3 .bottom {
	position: relative;
	width: 195px;
	margin: 0 auto;
}

.page-3 .bottom .left {
	width: 89px;height: 95.5px;
	background-position: -698px -344px;
}

.page-3 .bottom .right {
	position: absolute;
	bottom: 0;right: 0;
	width: 115px;height: 114.5px;
	background-position: -561.5px -340.5px;
}

/*第四页*/

#container .page-4 {
	background-color: #8ad160;
	padding-top: .785rem;
}

.page-4 .header {
	width: 237.5px;height: 185.5px;
	background-position: -301px -612px;
	margin: 0 auto;
}

.page-4 .comment {
	position: relative;
	width: 275.5px;
}

.page-4 .comment-1 {
	margin: .05rem auto 0;
}

.page-4 .comment-2 {
	margin: .11rem auto 0;
}

.page-4 .comment-img {
	float: left;
	width: 49px;height: 49px;
	border-radius: 50%;
	background: #fff;
	border: 2px solid #42980e;
}

.page-4 .comment-img img {
	width: 100%;
	border-radius: 50%;
}

.page-4 .comment-name {
	margin: 0 0 .285rem 58.5px;
	padding-top: 18px;
	color: #fff;
	font-size: 15px;
}

.page-4 .comment-content {
	color: #245a05;
	line-height: 2;
}

.page-4 .comment .btn {
	position: absolute;
	right: 0;bottom: -2px;
	width: 87.5px;height: 28px;
	border: none;
	background-position: -22px -675px;
	text-indent: 0;
	text-align: center;
	color: #092235;
}

.page-4 .mask {
	position: absolute;
	top: 0;bottom: 0;left: 0;right: 0;
	background: rgba(0,0,0,.7);
}

.page-4 .float {
	position: absolute;
	top: 50%;left: 50%;
	padding: .305rem .4rem .54rem;
	transform: translate(-50%, -50%);
	width: 2.685rem;
	background: #9add7b;
	border-radius: .03rem;
	border: 1.5px solid #2a5f0a;
	box-sizing: border-box;
}

.page-4 .float .btn {
	position: absolute;
	top: .035rem;right: .035rem;
	width: .44rem;height: .44rem;
	border-radius: 50%;
	border: 1.5px solid #2a5f0a;
	background: #42980e;
}

.page-4 .float .btn::before, .page-4 .float .btn::after {
	content: '';
	display: block;
	width: 60%;height: 15%;
	position: absolute;
	left: 50%;top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background: #fff;
}

.page-4 .float .btn::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.page-4 .float-img {
	width: .49rem;height: .49rem;
	margin: 0 auto;
	border-radius: 50%;
	border: 2px solid #42980e;
}

.page-4 .float-img img {
	width: 100%;
	border-radius: 50%;
}

.page-4 .float-name {
	margin: .08rem auto .2rem;
	font-size: 15px;
	color: #fff;
	text-align: center;
}

.page-4 .float-content {
	font-size: 12px;
	line-height: 2;
	color: #245a05;
}

/*第五页*/

#container .page-5 {
	position: relative;
	background-color: #589eec;
}

.page-5 .bg-stripe {
	width: 318.5px;height: 216px;
	margin: .3rem auto 0;
	background-position: 0 -791px;
}

.page-5 .bg-penguin {
	position: relative;
	margin: .57rem auto 0;
	width: 84px;height: 90px;
	background-position: -127px -675.5px;
	overflow: visible;
}

.page-5 .bg-jewel .item {
	position: absolute;
}

.page-5 .bg-jewel .item-1 {
	width: 22px;height: 23px;
	left: -22px;top: -12px;
	background-position: 0 -718px;
}

.page-5 .bg-jewel .item-2 {
	width: 22px;height: 25px;
	right: -20px;top: -10px;
	background-position: -44px -718px;
}

.page-5 .bg-jewel .item-3 {
	width: 14.5px;height: 14.5px;
	right: -50px;top: 0;
	background-position: -82px -718px;
}
.page-5 .bg-jewel .item-4 {
	width: 21.5px;height: 21px;
	right: -50px;top: 35px;
	background-position: -44px -758px;
}
.page-5 .bg-jewel .item-5 {
	width: 20px;height: 20px;
	left: -23px;top: 38px;
	background-position: -82px -758px;
}

.page-5 .bg-stripe .header {
	position: relative;
	width: 164px;height: 42px;
	margin: -18.5px auto 0;
	background-position: -557.5px -633px;
}

.page-5.page-active .bg-stripe .header {
	animation: tada 1s both;
}

/*表格*/
.page-5 .wellfare {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	bottom: 0;left: 0;right: 0;
}

.page-5 .wellfare::before {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-1px);
	width: 2px;height: 100%;
	background: #74a7f1;
}

.page-5 .wellfare-item {
	width: 50%;
}

.page-5 .wellfare-item-1, .page-5 .wellfare-item-2 {
	border: 2px solid #74a7f1;
	border-left: none;
	border-right: none;
}

.page-5 .wellfare-item .header {
	font-size: 15px;
	text-align: center;
	color: #fcff00;
}

.page-5 .wellfare-item .content {
	margin: .1rem .11rem .165rem;
	font-size: 12px;
	line-height: 1.416;
	color: #fff;
}

.page-5 .wellfare-item .img-container {
	text-align: center;
	margin: .135rem 0 .11rem;
}

.page-5 .wellfare-item .img {
	display: inline-block;
	vertical-align: middle;
}

/*sprite开始*/
.page-5 .wellfare-item-1 .img-1 {
	width: 48.5px;height: 48.5px;
	margin-right: 14px;
	background-position: -744px -633px;
}

.page-5 .wellfare-item-1 .img-2 {
	width: 41.5px;height: 55px;
	background-position: -233.5px -681.5px;
}

.page-5 .wellfare-item-2 .img {
	width: 53px;height: 54.5px;
	background-position: -557.5px -689.5px;
}

.page-5 .wellfare-item-3 .img {
	width: 82px;height: 34.5px;
	background-position: -625px -689.5px;
}

.page-5 .wellfare-item-4 .img {
	width: 44px;height: 32px;
	background-position: -744px -689.5px;
}
/*sprite结束*/

/*第六页*/

#container .page-6 {
	position: relative;
}

.page-6 .bg-star, .page-7 .bg-star {
	position: absolute;
	width: 303.5px;height: 451.5px;
	top: .2rem;left: 50%;
	transform: translateX(-50%);
	background-position: -822px 0;
}

.page-6 .top {
	width: 254px;height: 119.5px;
	margin: .71rem auto .01rem;
	background-position: -557.5px -757px;
	opacity: 0;
}

.page-6.page-active .top {
	opacity: 1;
	transition: all .5s ease-in;
}

.page-6 .middle-cloud {
	width: 272px;height: 173.5px;
	margin: 0 auto;
	background-position: -822px -479.5px;
	opacity: 0;
}

.page-6.page-active .middle-cloud {
	opacity: 1;
	transition: all 1s ease-in;
}

.page-6 .middle-penguin {
	/*提高层级*/
	position: relative;
	width: 132.5px;height: 141.5px;
	margin: -.2rem auto 0;
	background-position: -316px 0;
	opacity: 0;
}

.page-6.page-active .middle-penguin {
	margin: .02rem auto 0;
	opacity: 1;
	transition: margin .5s ease-in .8s, opacity .01s ease-in .8s;
}

/*第七页*/

.page-7 .top {
	width: 243.5px;height: 44px;
	margin: 1.405rem auto .16rem;
	background-position: -362px -935px;
	opacity: 0;
}

.page-7.page-active .top {
	opacity: 1;
	transition: all 1s ease-in;
}

.page-7 .middle {
	width: 229.5px;height: 93px;
	margin: 0 auto;
	background-position: -835px -684.5px;
	opacity: 0;
}

.page-7.page-active .middle {
	opacity: 1;
	transition: all .5s ease-in;
}

.page-7 .penguin {
	position: relative;
	width: 132.5px;height: 141.5px;
	margin: 0 auto;
	background-position: -316px 0;
	opacity: 0;
}

.page-7.page-active .penguin {
	margin: .285rem auto 0;
	opacity: 1;
	transition: margin .5s ease-in .8s, opacity .01s ease-in .8s;
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}