// Core variables and mixins
@import "variables";
@import "mixins/buttons";

// Based styles
.btn {
	display: inline-block;
	position: relative;
	border: 1px solid;
	color: $btn-color;
	background-color: $btn-bg;
	border-color: $btn-border;
	font-family: $font-family-base;
	cursor: pointer;
	line-height: 1;
	vertical-align: bottom;
	overflow: hidden;
	text-decoration: none;
	transition: all 0.3s $anim_func;
	@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);

	&:focus {
		outline: 0;
	}

	&.disabled,
	&:disabled {
		opacity: .4;
		cursor: not-allowed;
		pointer-events: none;
	}

	&::before,
	&::after {
		transition: all 0.3s $anim_func;
	}
}

input {
	padding: .5rem .75rem;
	border: 1px solid $btn-border;
	border-radius: $btn-border-radius;
	outline: 0;
}

// Alternate buttons
.btn-primary {
	@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.btn-warning {
	@include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
.btn-danger {
	@include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}
.btn-success {
	@include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
.btn-info {
	@include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}

// Remove all backgrounds
.btn-outline {
	@include button-outline-variant($btn-bg);
}
.btn-outline-primary {
	@include button-outline-variant($btn-primary-bg);
}
.btn-outline-warning {
	@include button-outline-variant($btn-warning-bg);
}
.btn-outline-danger {
	@include button-outline-variant($btn-danger-bg);
}
.btn-outline-success {
	@include button-outline-variant($btn-success-bg);
}
.btn-outline-info {
	@include button-outline-variant($btn-info-bg);
}

// Pill style
.btn-pill-primary {
	@include button-pill-variant($btn-primary-color, $btn-primary-bg);
}
.btn-pill-warning {
	@include button-pill-variant($btn-warning-color, $btn-warning-bg);
}
.btn-pill-danger {
	@include button-pill-variant($btn-danger-color, $btn-danger-bg);
}
.btn-pill-success {
	@include button-pill-variant($btn-success-color, $btn-success-bg);
}
.btn-pill-info {
	@include button-pill-variant($btn-info-color, $btn-info-bg);
}

// Remove pill background
.btn-pill-outline-primary {
	@include button-pill-outline-variant($btn-primary-bg);
}
.btn-pill-outline-warning {
	@include button-pill-outline-variant($btn-warning-bg);
}
.btn-pill-outline-danger {
	@include button-pill-outline-variant($btn-danger-bg);
}
.btn-pill-outline-success {
	@include button-pill-outline-variant($btn-success-bg);
}
.btn-pill-outline-info {
	@include button-pill-outline-variant($btn-info-bg);
}

// Underline style
.btn-underline-primary {
	@include button-underline-variant($btn-primary-bg);
}
.btn-underline-warning {
	@include button-underline-variant($btn-warning-bg);
}
.btn-underline-danger {
	@include button-underline-variant($btn-danger-bg);
}
.btn-underline-success {
	@include button-underline-variant($btn-success-bg);
}
.btn-underline-info {
	@include button-underline-variant($btn-info-bg);
}

// Doubleline style
.btn-doubleline-primary {
	@include button-doubleline-variant($btn-primary-bg);
}
.btn-doubleline-warning {
	@include button-doubleline-variant($btn-warning-bg);
}
.btn-doubleline-danger {
	@include button-doubleline-variant($btn-danger-bg);
}
.btn-doubleline-success {
	@include button-doubleline-variant($btn-success-bg);
}
.btn-doubleline-info {
	@include button-doubleline-variant($btn-info-bg);
}

// Gradient style
.btn-gradient-primary {
	@include button-gradient-variant($btn-primary-color, $btn-primary-bg)
}
.btn-gradient-warning {
	@include button-gradient-variant($btn-warning-color, $btn-warning-bg)
}
.btn-gradient-danger {
	@include button-gradient-variant($btn-danger-color, $btn-danger-bg)
}
.btn-gradient-success {
	@include button-gradient-variant($btn-success-color, $btn-success-bg)
}
.btn-gradient-info {
	@include button-gradient-variant($btn-info-color, $btn-info-bg)
}

// Button sizes
.btn-lg {
	@include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
}
.btn-sm {
	@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
}

// Button groups
.btn-group {
	display: inline-flex;
	vertical-align: bottom; // match .btn alignment given font-size hack above

	// Prevent double borders when buttons are next to each other
	.btn + .btn {
		margin-left: -1px;
	}

	> .btn:first-child {
		&:not(:last-child) {
			@include border-right-radius(0);
		}
	}

	> .btn:last-child {
		&:not(:first-child) {
			@include border-left-radius(0);
		}
	}

	> .btn:not(:first-child):not(:last-child) {
		border-radius: 0;
	}
}

.btn-group-lg > .btn {
	@extend .btn-lg;
}

.btn-group-sm > .btn {
	@extend .btn-sm;
}

.input-group {
	display: flex;

	.btn {
		line-height: 1.25;
	}

	> .btn:first-child, .form-control:first-child {
		&:not(:last-child) {
			// border-right: 0;
			@include border-right-radius(0);
		}
	}

	> .btn:last-child, .form-control:last-child {
		&:not(:first-child) {
			border-left: 0;
			@include border-left-radius(0);
		}
	}
}