@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

@mixin justify-fix {
	&:after {
		content: '';
		display: inline-block;
		width: 100%;
	}
}

@mixin appearance($property) {
	-webkit-appearance: $property;
	   -moz-appearance: $property;
	        appearance: $property;
}

@mixin placeholder($color) {
	::-webkit-input-placeholder { /* WebKit browsers */
	    color:    $color;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color:    $color;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color:    $color;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color:    $color;
	}
}

@mixin box-sizing($property) {
	-webkit-box-sizing: $property;
	   -moz-box-sizing: $property;
	        box-sizing: $property;
}