.btn{
	background-image: url("http://7xrci6.com1.z0.glb.clouddn.com/btn.svg");
}

.btn-memory{
	background-image: url("http://7xrci6.com1.z0.glb.clouddn.com/memory.svg");
}

.btn-operate{
	background-image: url("http://7xrci6.com1.z0.glb.clouddn.com/operate.svg");
}

.btn-tall{
	background-image: url("http://7xrci6.com1.z0.glb.clouddn.com/tall.svg");
}