@charset "UTF-8";
/*------------------------------------*\
    #棰滆壊璁剧疆
\*------------------------------------*/
/* 
 * Theme colors
 */
 /*------------------------------------*\
    #鏂囧瓧璁剧疆
\*------------------------------------*/
/* 
 * Font, line-height, and color for body text, headings, and more.
 */
/*------------------------------------*\
    #GENERTIC-BODY-RESETS
\*------------------------------------*/
html, body {
  width: 100%; }

body, h1, h2, h3, ul, p {
  margin: 0;
  padding: 0;
  font-weight: normal; }

a {
  text-decoration: none;
  border: 0;
  color: inherit; }

li {
  list-style-type: none; }

body {
  font-size: 14px;
  font-family: "Microsoft Yahei", sans-serif; }

.sprite {
  background: url("http://7xrci6.com1.z0.glb.clouddn.com/sprite.png") no-repeat;
  display: inline-block; }

.banner, .banner img, .intro, .about, .city, .activity-container, .time, footer {
  min-width: 1170px; }

/*------------------------------------*\
    #COMPONENTS-HEADER
\*------------------------------------*/
/*
 * Header
 *
 * logo, header-menu
 */
header {
  width: 100%; }
  header .header-logo {
    display: table-cell;
    padding-left: 59px;
    vertical-align: middle; }
    header .header-logo .sprite {
      width: 30px;
      height: 31px; }
  header h1 {
    display: table-cell;
    padding-left: 11px;
    white-space: nowrap;
    line-height: 56px;
    color: #393a3a;
    font-size: 21px;
    font-family: "SimHei", sans-serif; }
  header .header-menu {
    display: table-cell;
    width: 100%;
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    padding-top: 17px;
    padding-right: 56px;
    color: #787b83;
    line-height: 1;
    font-size: 14px;
    font-family: "Microsoft Yahei", sans-serif; }
    header .header-menu li {
      display: inline;
      padding: 0 13px; }
      header .header-menu li a {
        display: inline-block;
        padding-bottom: 21px; }
        header .header-menu li a:hover {
          color: #e74f4d; }
    header .header-menu li.header-menu-item a:hover {
      border-bottom: 5px solid #e74f4d;
      padding-bottom: 20px; }
    header .header-menu li.header-home {
      padding: 0 17px 21px; }
      header .header-menu li.header-home:hover {
        border-bottom: 5px solid #e74f4d;
        padding-bottom: 18px; }
    header .header-menu li.header-login {
      color: #e74f4d; }

/*------------------------------------*\
    #COMPONENTS-BANNER
\*------------------------------------*/
/*
 * Banner
 *
 * img锛宨mg-text
 */
.banner {
  position: relative;
  width: 100;
  max-height: 690px;
  overflow-y: hidden; }
  .banner img {
    display: block;
    width: 100%;
    -webkit-filter: brightness(80%);
    filter: brightness(80%); }
  .banner .banner-text {
    position: absolute;
    left: 117px;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Microsoft Yahei", sans-serif;
    color: #fff; }
    .banner .banner-text h2 {
      font-size: 60px;
      line-height: 1; }
    .banner .banner-text p {
      width: 273px;
      margin: 26px 0 62px;
      font-size: 21px;
      line-height: 31px; }
    .banner .banner-text .banner-button {
      width: 330px;
      font-size: 30px;
      line-height: 63px;
      text-align: center;
      background: #e74f4d;
      cursor: pointer; }

/*------------------------------------*\
    #COMPONENTS-PRODUCTS INTRODUCTION
\*------------------------------------*/
/*
 * Products introduction
 *
 * icons锛宨con-text
 */
.intro {
  display: table;
  width: 100;
  height: 250px;
  line-height: 18px;
  text-align: center;
  color: #767777;
  font-family: "SimHei", sans-serif;
  font-size: 14px; }
  .intro .intro-img {
    width: 42px;
    height: 42px; }
  .intro .intro-text {
    width: 154px;
    height: 52px;
    margin: 44px auto 0; }
  .intro .intro-item {
    display: table-cell;
    position: relative;
    width: 25%;
    padding: 45px 0 65px; }
    .intro .intro-item:first-child .intro-img {
      background-position: -36px 0; }
    .intro .intro-item + .intro-item .intro-img {
      background-position: -81px 0; }
    .intro .intro-item + .intro-item + .intro-item .intro-img {
      background-position: -126px 0; }
    .intro .intro-item + .intro-item + .intro-item + .intro-item .intro-img {
      background-position: -171px 0; }
    .intro .intro-item:after {
      content: "";
      position: absolute;
      top: 135px;
      left: 2px;
      display: block;
      width: 2px;
      height: 52px;
      background-color: #aaa; }
    .intro .intro-item:nth-of-type(1):after {
      display: none; }

/*------------------------------------*\
    #COMPONENTS-ABOUT
\*------------------------------------*/
/*
 * About
 *
 * about new world
 */
.about {
  width: 100%;
  height: 360px;
  background-color: #ededed;
  text-align: center; }
  .about .about-logo {
    width: 91px;
    height: 91px;
    background-position: 0 -42px;
    margin: 89px 0 51px; }
  .about p {
    color: #a1a1a1;
    white-space: nowrap;
    font-family: "SimHei", sans-serif;
    font-size: 53.59px; }

/*------------------------------------*\
    #COMPONENTS-CITY
\*------------------------------------*/
/*
 * City
 *
 * select city and search
 */
.city {
  position: relative; }
  .city .city-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-color: rgba(170, 52, 50, 0.2); }
  .city img {
    display: block;
    width: 100%;
    min-width: 768px; }
  .city .city-content {
    position: absolute;
    left: 50%;
    top: 54px;
    transform: translateX(-50%); }
    .city .city-content h3 {
      color: #fff;
      text-align: center;
      line-height: 1;
      font-size: 21px; }
      .city .city-content h3:after {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        margin: 11px auto 20px;
        background-color: #fff; }
    .city .city-content p {
      color: #fff;
      text-align: center;
      line-height: 1;
      font-size: 12px; }
    .city .city-content .city-menu {
      width: 1030px;
      font-size: 0;
      margin: 52px auto 0; }
      .city .city-content .city-menu .city-item {
        display: inline-block;
        position: relative;
        width: 233px;
        height: 34px;
        margin-right: 30px;
        color: #a8aaaa;
        background: url("http://7xrci6.com1.z0.glb.clouddn.com/arrow.png") 207px #fff no-repeat;
        font-size: 12px; }
        .city .city-content .city-menu .city-item input[type="checkbox"] {
          position: absolute;
          opacity: 0; }
          .city .city-content .city-menu .city-item input[type="checkbox"]:checked ~ label.selectedTxt {
            outline: 1px solid #be4e48; }
          .city .city-content .city-menu .city-item input[type="checkbox"]:checked ~ .selectList {
            visibility: visible; }
        .city .city-content .city-menu .city-item label.selectedTxt {
          display: block;
          padding-left: 10px;
          line-height: 34px;
          width: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
        .city .city-content .city-menu .city-item .selectList {
          visibility: hidden;
          position: absolute;
          left: -1px;
          top: 100%;
          width: 100%;
          padding-bottom: 12px;
          border: 1px solid #be4e48;
          border-top: 0;
          background: #e3e3e4; }
          .city .city-content .city-menu .city-item .selectList li {
            line-height: 26px;
            list-style-type: none;
            cursor: pointer;
            background-clip: border-box;
            padding-left: 32px; }
            .city .city-content .city-menu .city-item .selectList li:hover {
              color: #fff;
              background: url("http://7xrci6.com1.z0.glb.clouddn.com/select.png") 8px 8px no-repeat #be4e48; }
      .city .city-content .city-menu .city-search {
        display: inline-block;
        width: 235px;
        height: 35px;
        color: #fff;
        background: #be4e48;
        letter-spacing: 25px;
        text-indent: 25px;
        text-align: center;
        cursor: pointer;
        line-height: 35px;
        font-family: "Microsoft Yahei", sans-serif;
        font-size: 14px; }

/*------------------------------------*\
    #COMPONENTS-ACTIVITY
\*------------------------------------*/
/*
 * Activity
 *
 * img, img text
 */
.activity {
  width: 100%;
  height: 604px;
  background: #f7f7f7; }
  .activity .activity-container {
    width: 80%;
    margin: 0 auto;
    text-align: justify; }
    .activity .activity-container:after {
      content: '';
      display: inline-block;
      width: 100%; }
    .activity .activity-container .activity-item {
      display: inline-block;
      width: 217px;
      height: 388px;
      margin-top: 93px; }
      .activity .activity-container .activity-item img {
        margin-top: 7px; }
      .activity .activity-container .activity-item h3 {
        margin: 12px 0;
        line-height: 1;
        text-align: center;
        color: #636464;
        font-family: "SimHei", sans-serif;
        font-size: 14px; }
      .activity .activity-container .activity-item p {
        text-align: center;
        line-height: 1;
        color: #bcbdbd;
        font-family: "SimHei", sans-serif;
        font-size: 11px; }

/*------------------------------------*\
    #COMPONENTS-TIME
\*------------------------------------*/
/*
 * Time
 *
 * table
 */
.time {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse; }
  .time .time-row1 {
    height: 566px; }
    .time .time-row1 .time-bigimg {
      position: relative;
      color: #fff;
      text-align: center;
      font-family: "Microsoft Yahei", sans-serif;
      background: url("http://7xrci6.com1.z0.glb.clouddn.com/time.jpg") no-repeat;
      background-size: cover; }
      .time .time-row1 .time-bigimg h3 {
        font-size: 49.47px;
        line-height: 1; }
      .time .time-row1 .time-bigimg h2 {
        font-size: 157.79px;
        line-height: 1; }
      .time .time-row1 .time-bigimg p {
        font-size: 21.91px;
        line-height: 43.15px; }
      .time .time-row1 .time-bigimg:after {
        position: absolute;
        border-color: transparent #fff transparent transparent;
        border-width: 15px 26px 15px 0;
        border-style: solid;
        height: 0;
        width: 0;
        content: '';
        right: 0;
        top: 50%;
        z-index: 2; }
    .time .time-row1 td:nth-of-type(2) {
      text-align: center; }
      .time .time-row1 td:nth-of-type(2) h3 {
        color: #323333;
        line-height: 1;
        font-family: "SimHei", sans-serif;
        font-size: 18px; }
        .time .time-row1 td:nth-of-type(2) h3 span {
          color: #e8504e;
          letter-spacing: 2px; }
      .time .time-row1 td:nth-of-type(2) p {
        width: 287px;
        margin: 32px auto 50px;
        color: #aaa;
        line-height: 30px;
        text-align: left;
        font-family: "SimSun", serif;
        font-size: 12px; }
      .time .time-row1 td:nth-of-type(2) div {
        width: 103px;
        margin: 0 auto 25px;
        color: #e25c60;
        border: 1px solid;
        font-size: 12px;
        line-height: 31px;
        text-align: center;
        cursor: pointer; }
      .time .time-row1 td:nth-of-type(2) span.ball {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-left: 14px;
        border: 1px solid #919292;
        border-radius: 50%;
        box-sizing: border-box; }
        .time .time-row1 td:nth-of-type(2) span.ball.cur {
          margin-left: 0;
          background: #919292; }
  .time .time-row2 {
    height: 521px;
    text-align: center;
    color: #323333; }
    .time .time-row2 p, .time .time-row2 div {
      line-height: 30.36px;
      font-family: "SimHei", sans-serif;
      font-size: 21px; }
    .time .time-row2 div.line {
      height: 2px;
      width: 30px;
      margin: 25px auto;
      background: #aaa; }
    .time .time-row2 div.btn {
      width: 167px;
      margin: 0 auto;
      line-height: 41px;
      border: 1px solid;
      color: #e74f4d;
      cursor: pointer; }
    .time .time-row2 td:nth-of-type(1) {
      color: #fff;
      background: #e74f4d; }
      .time .time-row2 td:nth-of-type(1) div.line {
        background: #fff; }
      .time .time-row2 td:nth-of-type(1) div.btn {
        color: #fff; }
    .time .time-row2 td:nth-of-type(2) {
      position: relative; }
      .time .time-row2 td:nth-of-type(2):after {
        position: absolute;
        border-color: transparent transparent transparent #fff;
        border-width: 15px 0 15px 26px;
        border-style: solid;
        height: 0;
        width: 0;
        content: '';
        left: 100%;
        top: 50%;
        z-index: 2; }
    .time .time-row2 .time-smaimg {
      background: url("http://7xrci6.com1.z0.glb.clouddn.com/time2.jpg") no-repeat;
      background-size: cover;
      -webkit-filter: brightness(60%);
      filter: brightness(60%); }

/*------------------------------------*\
    #COMPONENTS-VOLUNTEER
\*------------------------------------*/
/*
 * Volunteer
 *
 * volunteer-declare and form displayed as table-cell
 */
.volunteer {
  text-align: center; }
  .volunteer h2 {
    margin: 118px 0 9px;
    color: #323333;
    line-height: 1;
    font-family: "SimHei", sans-serif;
    font-size: 21px; }
  .volunteer p {
    color: #aaa;
    font: 12px/18px "Microsoft Yahei", sans-serif; }
  .volunteer div.line {
    width: 30px;
    height: 2px;
    background: #e74f4d;
    margin: 0 auto 12px; }
  .volunteer div.volunteer-container {
    width: 1038px;
    margin: 104px auto 167px; }
  .volunteer div.volunteer-declare {
    display: table-cell;
    width: 288px;
    text-align: left;
    color: rgba(35, 24, 21, 0.6); }
    .volunteer div.volunteer-declare h3 {
      margin-top: 34.5px;
      color: #231815;
      font: 14px "Microsoft Yahei", sans-serif; }
      .volunteer div.volunteer-declare h3:nth-of-type(1) {
        margin: 0; }
    .volunteer div.volunteer-declare p {
      margin: 20px 0 7.5px;
      font: 12px/21px "SimSun", serif; }
    .volunteer div.volunteer-declare div.btn {
      font: 12px/12px "SimSun", serif;
      text-align: right;
      cursor: pointer; }
  .volunteer form.volunteer-form {
    display: table-cell;
    width: 673px;
    padding-left: 77px;
    text-align: justify; }
    .volunteer form.volunteer-form input, .volunteer form.volunteer-form textarea, .volunteer form.volunteer-form div.btn {
      width: 309px;
      height: 40px;
      padding-left: 18px;
      margin-bottom: 14px;
      background: #ececee;
      font: 12px "SimSun", serif;
      border: 0; }
      .volunteer form.volunteer-form input ::-webkit-input-placeholder, .volunteer form.volunteer-form textarea ::-webkit-input-placeholder, .volunteer form.volunteer-form div.btn ::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #231815; }
      .volunteer form.volunteer-form input :-moz-placeholder, .volunteer form.volunteer-form textarea :-moz-placeholder, .volunteer form.volunteer-form div.btn :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #231815; }
      .volunteer form.volunteer-form input ::-moz-placeholder, .volunteer form.volunteer-form textarea ::-moz-placeholder, .volunteer form.volunteer-form div.btn ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #231815; }
      .volunteer form.volunteer-form input :-ms-input-placeholder, .volunteer form.volunteer-form textarea :-ms-input-placeholder, .volunteer form.volunteer-form div.btn :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #231815; }
    .volunteer form.volunteer-form textarea, .volunteer form.volunteer-form div.btn {
      width: 100%;
      height: auto;
      padding: 18px;
      resize: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .volunteer form.volunteer-form div.btn {
      margin: 0;
      padding: 0;
      color: #323333;
      text-align: center;
      font: 14px/40px "SimHei", sans-serif;
      cursor: pointer; }

/*------------------------------------*\
    #COMPONENTS-FOOTER
\*------------------------------------*/
/*
 * Footer
 *
 * contact
 */
footer {
  position: relative;
  width: 100%;
  height: 415px;
  padding-top: 92px;
  background: #2f2f38;
  color: #fff;
  text-align: center; }
  footer h2 {
    font: 21px/21px "SimHei", sans-serif; }
  footer p {
    margin: 8px 0 27px;
    font: 12px/18px "SimSun", serif; }
  footer input {
    width: 430px;
    height: 40px;
    vertical-align: top;
    padding-left: 10px;
    margin-bottom: 38px;
    font-size: 14px;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  footer span.commit {
    display: inline-block;
    vertical-align: top;
    height: 40px;
    width: 80px;
    background: #6f7178;
    font: 15px/40px "Microsoft Yahei", sans-serif;
    cursor: pointer;
    letter-spacing: 9px;
    text-indent: 9px; }
  footer a.sprite {
    display: inline-block; }
    footer a.sprite:nth-of-type(1) {
      width: 22px;
      height: 25px;
      margin-right: 28px;
      background-position: -100px -50px; }
    footer a.sprite:nth-of-type(2) {
      width: 29px;
      height: 24px;
      margin-right: 27px;
      background-position: -128px -50px; }
    footer a.sprite:nth-of-type(3) {
      width: 27px;
      height: 25px;
      margin-right: 21px;
      background-position: -160px -50px; }
    footer a.sprite:nth-of-type(4) {
      width: 24px;
      height: 25px;
      background-position: -195px -50px; }
  footer div.footer-banner {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 58px;
    padding: 30px 99px 0;
    background: #303039;
    text-align: justify;
    font: 12px "SimSun", serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    footer div.footer-banner:after {
      content: '';
      display: inline-block;
      width: 100%; }
    footer div.footer-banner span {
      display: inline-block; }

/*# sourceMappingURL=official_website.css.map */
